.header{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.Left-header{
    background:none;
    width: 150px;
    height:70px;
    display: flex;
}
.Netflix-logo{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    object-fit: contain;
}

.middle-header{
    background:none;
    display: flex;
    flex: 1;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    width: 100%;
    gap: 20px;
    padding-left: 18px;
    background:none;
    flex-wrap: wrap;
    min-width: 550px;

}
.nav-list a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    
}

.right-header{
    display: flex;
    width: 200px;
    background:none;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.bell-icon{
    width: 28px;
}

.search-icon{
    width: 24px;
}

.profile-img{
    width: 45px;
    height: 45px;
    border-radius: 6px;
    border-color: brown;
}